.git
.env
.DS_Store
airflow_settings.yaml
__pycache__/
astro
.venv
airflow-webserver.pid
webserver_config.py
airflow.cfg
airflow.db
venv/
dbt_env/
.env
__pycache__/
*.pyc
include\banking-data-496700-68b15bc6fe66.json